.editorPage > div {
  height: 100%;

  .bytemd {
    height: 100%;
    min-height: 550px;
  }
}

.emoji-container {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 999;
}
.emoji-categories {
  background-color: gray;
}
